In [3]:
l=[1,3,2,6,0]
for i in range(len(l)):
    for j in range(len(l)-i-1):
        if l[j]>l[j+1]:
            l[j],l[j+1]=l[j+1],l[j]
l

[0, 1, 2, 3, 6]

- pip is a package manager for python.
- We can use this to install and manage  packages that do not come by default
- Example of installing a package: pip install numpy
- To install multiple package we can list down package name in requirements.txt file.then use this command:pip install -r requirements.txt
- to uninstall : pip uninstall numpy
- to update : pip install --upgrade numpy
- conda is also a package management system

- Package is a collection of modules. ex: scikit-learn is a package
- Modules are collection of functions  which is basically a python .py file
- for example in sklearn :it is a package
- sklearn.linear_model is a subpackage
- in that it contains modules like LinearRegression 
- from sklearn.linearmodel import LinearRegression

### comments , ascii value and number formats

In [ ]:
#this is a single line comment
'''
this can be used  as a multi line
comment since this string is not assigned to any variable
'''

In [280]:
#ascii value
ord('a')

97

In [283]:
#different number formats
hex(10),bin(10),oct(10)

('0xa', '0b1010', '0o12')

In [ ]:
#keywords:keywords are the special set of reserved words 
#which cant be used as names for variables/functions or any identifiers
#Ex:if,else,int,float,list,map etc
#identifiers are the names we give to variables/functions/class etc

### variables

In [8]:
#Variables are containers for storing data values
#A variable is created the moment you first assign a value to it
#Variables do not need to be declared with any particular type, and can even change type after they have been set
#so here x is a variable wheich takes 4 different values and it holds the last value at the end
#variables are case sensitive as we see x and X are different
#variable name can start with letters or underscore
#variable can only contain alpha numeric characters and underscore.
#reserve words cant be used as variable name
#Dynamically-typed languages are those  where the interpreter assigns 
#variables a type at runtime based on the variable's value at the time.python is an example of dynamic typed language
x=4
x="aa"
x='aa'
x=3.1
X=[1,2,3]
a=b=c=3
d,e,f=5,6,7
n,m=[1,2]
print(x,X)
print(a,b,c)
print(d,e,f)
print(n,m)

3.1 [1, 2, 3]
3 3 3
5 6 7
1 2

In [1]:
#A Python variable is a name given to a memory location
#variable doesnt actually store the data but it stores the location of the data 
#here id is used to get address of data so 2 is stores in the output address and both x and y are referencing that
x=y=2
print(id(x),id(y))
a=1
b=3
print(id(a),id(b))

2088748738896 2088748738896
2088748738864 2088748738928

### data types

In [37]:
#data types defines what type of data is stored in a variable
#builtin data types in python are:int,float,complex,bytes,str,NoneType,bool etc
#type() is used to get the type of data stored in a variable
x,y,z=1,"a",[1,2]
v=2.1
a=1j
b=None
c=range(5)
d=True
type(x),type(y),type(z),type(v),type(a),type(b),type(c),type(d)

(int, str, list, float, complex, NoneType, range, bool)

In [50]:
#type casting:conversion of on type to another
#it can be implicit conversion where python itself does:here x was int,but then it took 3.1 it automatically changed to float
x=3
x=3.1
print(type(x))
#or it can be explicit conversion :where we change it by specifying
a=int(3.8)
print(type(a),a)
z=str(2)
print(type(z))

<class 'float'>
<class 'int'> 3
<class 'str'>

In [98]:
#boolean data type
bool(True),bool(1),bool("aa"),bool([]),bool(None),bool(0)

(True, True, True, False, False, False)

In [101]:
#isinstance function:determines if a variable is of certain data type
x=1
isinstance(x,int)

True

### operators

In [52]:
#Operators are used to perform operations on variables and values.

In [100]:
#comparison operators
3>2,3<2,3==2,3>=2,3<=2,3!=2,type(1)==int

(True, False, False, True, False, True, True)

In [1]:
#arithmetic operators
# // operator means floor division means it divides and then floors it to low nearest integer
# ** means power
#  % means modulus operator:remainder
1+2,1-2,2*2,7/4,7%4,7//4,5**2

(3, -1, 4, 1.75, 3, 1, 25)

In [65]:
#assignment operators:
a=2
#we can use other arithmetic and bitwise operators before = sign.
#a+=1 means a=a+1
a+=1
a

3

In [70]:
#bitwise operators:&,|,~,^,>>,<<

In [77]:
#logical operators:and ,or ,not
True and True,True or False,not True,1>2 and 2>0,not(2>1 or 1<2)

(True, True, False, False, False)

In [102]:
#membership operators
1 in [1,2], 1 not in [1,2],"a" in "akshay"

(True, False, True)

In [92]:
#identity operators:returns True if both object are the same . == and is operators are different
l=[1,2]
p=[1,2]
q=l
l is p,l==p,l is q

(False, True, True)

In [ ]:
#precedence decides which operator to use first:operator with highest precedence is used first 
#PEMDAS rule:paranthesis() has highest precedence followed by exponent etc
#associativity means order of execution when operators are having same precedence
#2**3**4 : operator precedence calculates this as 2**(3**4) i.e.associativity is right to left  .
#all other operators left to right

### String

In Python, negative indexing is a way of accessing elements in a sequence (such as a string, list, or tuple) 
using negative indices, starting from the end of the sequence.

In [1]:
#example for negative indexing
s="akshay"
s[-2]

'a'

In [ ]:
#strings are immutable
#so whatever u change in string, it needs to be s=s.replace() 
#it doesnt work like lists where we can just call methods without assigning

In [116]:
#group of characters/or even nothing surrounded by "" or ''
s="a"
y='a'
c='''multi
    line string'''
z=""
print(c)
type(s),type(y),type(z),type(c)

multi
    line string

(str, str, str, str)

In [117]:
#length of string
s="akshay"
len(s)

6

In [168]:
#accessing element of the strings and slicing:using - indicates negative indexing or from reverse
s="akshay"
s[0],s[-1],s[:],s[:3],s[2:],s[::-1],s[::2],s[::-2]

('a', 'y', 'akshay', 'aks', 'shay', 'yahska', 'asa', 'yhk')

In [121]:
#looping through a string
for i in s:
    print(i,end="\t")

a	k	s	h	a	y

In [124]:
#checking for substring 
"a" in s,"aks" not in s

(True, False)

In [277]:
#concatenate strings and repeating strings
a="hi"
b="hello"
s="w"*3
a+b,a+" "+b,s

('hihello', 'hi hello', 'www')

In [137]:
#we cant concatenate strings with numbers .but  we can use format method to append numbers in placeholders in the string
s="my age is {} and my salary is {}"
age=36
salary=2500000
s.format(age,salary)

'my age is 36 and my salary is 2500000'

In [161]:
#To insert characters that are illegal in a string, use an escape character.
#An escape character is a backslash \ followed by the character you want to insert.
#\n is used for new line,\t for tab
#here we can see we cant use double quotes directly is our string is defined inside double quotes
#we can use double quotes if our string is defined in single quotes and vice versa
s="hello \"arjun\", how are you"
print(s)
r='it\'s'
print(r)
t="\\aaa"
print(t)
q="hello\nhai"
print(q)
w="hello\thai"
print(w)

hello "arjun", how are you
it's
\aaa
hello
hai
hello	hai

In [1]:
#reversing a string
s="akshay"
print(s[::-1])

yahska

- string methods:

In [186]:
#case conversion
s="akshAY hai"
s.lower(),s.upper(),s.capitalize(),s.swapcase(),s.title()

('akshay hai', 'AKSHAY HAI', 'Akshay hai', 'AKSHay HAI', 'Akshay Hai')

In [189]:
#remove whitespaces
s="  aasx  "
s.strip(),s.lstrip(),s.rstrip()

('aasx', 'aasx  ', '  aasx')

In [208]:
#to check if string is of certain type
"1".isdigit(),"aa".isalpha(),"aa3".isalnum(),"aa".islower(),"AA".isupper()," ".isspace()

(True, True, True, True, True, True)

In [205]:
#start with ending with something?
s="akshay"
s.startswith('ak'),s.endswith("y")

(True, True)

In [226]:
#replacing in string:s.replace(old,new,count),count means how many occurences to replace ,itis all by default
s="akshay"
s1=s.replace("a","Q")
s2=s.replace("a","Q",1)
s1,s2

('QkshQy', 'Qkshay')

In [20]:
#swapping:
s="abcdzaiz"
d={"a":"z","z":"a"}
t=s.maketrans(d)
s.translate(t)

'zbcdazia'

In [23]:
#replacing multiple elements:
s="amnceb"
d={"a":"8","b":'2',"c":'3'}
table=s.maketrans(d)
s.translate(table)

'8mn3e2'

In [217]:
#count of a substring/char in a string:s.count(char,start,end)
s="akshay"
s.count("a"),s.count('a',0,3)

(2, 1)

In [256]:
#getting indexes:s.index(substring,start,end) or s.find(substring,start,end)
#The find() method is almost the same as the index() method
#the only difference is that the index() method raises an exception if the value is not found but find returns -1
#we also have right versions of these methods rfind and rindex and works same but looks for substring from right
#all of these gives index of only first occurence from the sides they are finding
s="akshayzat"
s.index('a'),s.index("at"),s.index("a",1,),s.find("a"),s.find("a",1,),s.find("b"),s.rindex("a"),s.find("a")

(0, 7, 4, 0, 4, -1, 7, 0)

In [265]:
#splitting and partioning
#partition separates string into three parts:left of separator,separator,right of separator
#split splits the string based on separator:s.split(sep,count)
s="hai hello super bro man"
s.split(" "),s.split(" ",3),s.partition("hello")

(['hai', 'hello', 'super', 'bro', 'man'],
 ['hai', 'hello', 'super', 'bro man'],
 ('hai ', 'hello', ' super bro man'))

In [294]:
#str constructor
str("aa")

'aa'

In [324]:
#join method to make a string from an iterable.
l=["a","b","c"]
s1="".join(l)
s2="@".join(l)
s1,s2

('abc', 'a@b@c')

### lists

In [278]:
#data structures  stores collection of data
#in python there are 4 builtin data structures:lists,tuples,sets,dictionary

- lists are ordered collection of elements
- lists are ordered:we can index
- lists can contain duplicates
- lists are changeable or mutable:we can add,remove,update
- elements of a list are not stored in continuos memory location

In [285]:
l=[1,2,3]
type(l)

list

In [347]:
l=[1,2,3]
id(l[0]),id(l[1]),id(l[2])

(2892268464432, 2892268464464, 2892268464496)

In [3]:
import numpy as np
l=np.array([1,2,3,4,5,6,7,8,9])
id(l[0]),id(l[1]),id(l[6])

(2244277296368, 2244277296368, 2244277296368)

In [288]:
len(l)

3

In [291]:
#accessing elements
l=[1,2,3,4]
l[0],l[-1]

(1, 4)

In [293]:
#slicing
l[::-1],l[1:3]

([4, 3, 2, 1], [2, 3])

In [386]:
#inplace reversing using reverse method
l=[1,2,3]
l.reverse()
l

[3, 2, 1]

In [295]:
#list constructor:can be used to explicitly convert from other type to a list
s="as"
list(s)

['a', 's']

In [4]:
#index of elements
l=[10,20,30,10]
l.index(10)

0

In [339]:
#item exists or not
l=[1,2,3,4]
4 in l

True

In [340]:
#looping through lists
for i in l:
    print(i,end="\t")
print("\n")
for i in range(len(l)):
    print(l[i],end="\t")

1	2	3	4

1	2	3	4

In [305]:
#for copying one list to another use copy()
#simply l1=l doesnt work because when u change 
l1=l.copy()
l1

[1, 2, 3, 4, 5]

In [476]:
#repeating
l=[1,2,3]
l*2

[1, 2, 3, 1, 2, 3]

In [318]:
#since list is mutable, if i sort then the original value in the same  memory location is updated.
#so since p will be also referencing to that so it also gets the same sorted value
#so to avoid this use copy() method
l=[1,2,0]
p=l
l.sort()
print(l,p)
id(l),id(p)

[0, 1, 2] [0, 1, 2]

(2892391043008, 2892391043008)

In [338]:
#join two lists:+ method,extend,append
#if u just add two lists using + then u need to assign that to new list
#if u use extend method then l1 will itself be updated : better approach
#with extend u can also concat with other iterable
#u can also use append but it can add only one element at a time so u need to loop
l1=[1,2]
l2=[3,4]
l3=l1+l2
l1.extend(l2)
l1.extend({"a","b"})
l3,l1

([1, 2, 3, 4], [1, 2, 3, 4, 'a', 'b'])

In [343]:
#adding elements into list:append and insert
#append puts in last index
#insert at specified index:elements will be shifter to one place to right
l=[1,2,4]
l1=[1,2,3]
l.append(5)
l1.insert(0,5)
l,l1

([1, 2, 4, 5], [5, 1, 2, 3])

In [5]:
#updating list
l=[1,23,31,40,50,60]
l[0]=9
l[1:3]=[0]
l

[9, 0, 40, 50, 60]

In [362]:
#removing elements from list
#remove: removes only first occurence of the element given
#pop removes based on index.default is last index
#to remove all occurence of an element u can use for loop with remove or use filter or use list comprehensions
l=[90, 10, 100, 40, 50, 60]
l.remove(100)
a=l.pop(0)
b=l.pop()
print(a,b)
l

90 60

[10, 40, 50]

In [380]:
l=[10,10,20,30,10]
l1=[i  for i in l if i!=10]     #list comprehension
l2=list(filter(lambda x:x!=10,l))   #filter function
for i in l:                          #using for loop and remove method
    l.remove(10)
l,l1,l2

([20, 30], [20, 30], [20, 30])

In [363]:
#deleting list or clearing
# del l :deletes list .
# l.clear() method removes all element from list
#u can also specify index in clear to remove only that element
l.clear()
l

[]

In [383]:
#sorting list:sort() method or sorted function
#sort method sort lists in place,it changes the original list
#sorting function after sorting needs to assigned since this is not a list method but a general function,original list in not changed
l=[10,30,20,25,5]
l.sort()
q=[10,3,5]
w=sorted(q)
l,w

([5, 10, 20, 25, 30], [3, 5, 10])

In [385]:
#both of these have parameters key and reverse: by default reverse is false
#key can take a function with which we can customize the sorting
l=[10,30,20,25,5]
l.sort(reverse=True)
l

[30, 25, 20, 10, 5]

In [387]:
#sorting the strings: will be done lexographically
l=["apple","apply","mango","ant"]
l.sort()
l

['ant', 'apple', 'apply', 'mango']

- some examples to show the usage of key in sort

In [389]:
#sorting based on an element in list of tuples
l=[("a",10),("b",5),("c",15)]
l.sort(key=lambda x:x[1],reverse=True)
l

[('c', 15), ('a', 10), ('b', 5)]

In [390]:
#sort the numbers based on how close it is to 50
l=[10,40,49,52,45,60]
l.sort(key=lambda x:abs(50-x))
l

[49, 52, 45, 40, 60, 10]

In [6]:
#sort the numbers based on how close it is to 50
l=[10,40,49,52,45,60]
sorted(l,key=lambda x:abs(50-x))

[49, 52, 45, 40, 60, 10]

In [46]:
#sort the list based on frequency of element
l=[6,6,7,8,9,2,2,6]
sorted(l,reverse=True,key=l.count)

[6, 6, 6, 2, 2, 7, 8, 9]

- list comprehension: it is a short way of writing code for creating a new list based on a iterable
- Syntax: newlist = [expression for item in iterable if condition == True]
- newlist=[expression1 if condition==True else expression2 for i in l]

In [8]:
l=[1,2,3,4,5,6,7,8,9]
l1=[i*2 for i in l if i%2==0]
l2=[i if i%2==0 else 0 for i in l]
l,l1,l2

([1, 2, 3, 4, 5, 6, 7, 8, 9], [4, 8, 12, 16], [0, 2, 0, 4, 0, 6, 0, 8, 0])

In [397]:
#getting index of top 3 largest elements
l=[10,30,40,15,20,100,2]
for i in range(len(l)):
    m=max(l)
    print(m,l.index(m))
    l.remove(m)
    if i==2:
        break

100 5
40 2
30 1

In [409]:
#find the index of top 5 largest elements in a list
l=[10,30,40,15,20,100,2]
s=sorted(l,reverse=True)
top5=s[:5]
[[l.index(i),i] for i in top5]

[[5, 100], [2, 40], [1, 30], [4, 20], [3, 15]]

### Tuples

- Tuple is a collection which is ordered and unchangeable/immutable
- it allows duplicate values

In [414]:
t=(11,21,32)

In [5]:
t=1,2,3
t

(1, 2, 3)

In [24]:
def fun(x):
    return x*2,x+2,x-2
o=fun(3)
o,type(o)

((6, 5, 1), tuple)

In [415]:
#length of tuple
len(t)

3

In [448]:
#use comma in tuple if it has only one element 
t=(1)
t2=(1,)
type(t),type(t2)

(int, tuple)

In [416]:
#index of elements
t.index(32)

2

In [421]:
#accessing element by its index and slicing
t=(12,13,14,56,67,56)
t[2],t[:2],t[::-1]

(14, (12, 13), (56, 67, 56, 14, 13, 12))

In [422]:
#count of a element in tuple
t.count(56)

2

In [425]:
#loop through tuple
for i in t:print(i,end="\t")

12	13	14	56	67	56

In [434]:
#to concat two tuples
(1,2)+(3,4)

(1, 2, 3, 4)

In [433]:
#since tuples are immutable we cant change it but we can convert it into list,do changes and then convert it back to tuple
#to add an element into tuple
t=(1,2,3)
t=list(t)
t.append(4)
t=tuple(t)
t

(1, 2, 3, 4)

In [442]:
#unpacking tuples or lists:*indicates take remaining all elements into the variable
a,b,*c=(1,2,3,4,5)
a,b,c

(1, 2, [3, 4, 5])

In [441]:
*a,b,=[1,2,3,4,5]
a,b

([1, 2, 3, 4], 5)

In [475]:
#repeating
t=(1,2,3)
t*2

(1, 2, 3, 1, 2, 3)

### Sets

- Sets are unordered means we cannot use indexing
- Sets doesnt contain duplicates
- We can add and remove items from list but we can not change something because it cant be indexed

In [450]:
s={1,2,3}
type(s)

set

In [452]:
#length of a set
len(s)

1

In [462]:
#it doesnt contain duplicates. even if we add in it it removes
s={1,2,1,2}
s

{1, 2}

In [455]:
#looping through sets
for i in s:
    print(i)

1
2

In [463]:
#adding an element into set
s.add(3)
s

{1, 2, 3}

In [464]:
#removing an element from a set
s.remove(1)
s

{2, 3}

In [467]:
#adding a iterable elements into set
s1={1,2}
s2={3,4}
s1.update([3,4,5])
s1

{1, 2, 3, 4, 5}

In [471]:
#removing all elements from set
s={1,2,4}
s.clear()
s

set()

In [468]:
#since sets can be updated with new elements in place, we need to use copy for copying just like lists
s3=s1.copy()
s3

{1, 2, 3, 4, 5}

In [9]:
#set exclusive operations:
s1={1,2,3,4}
s2={1,2,6,7}
s3={1,4}
s3=s1.union(s2)
s4=s1.intersection(s2)
s5=s1.difference(s2)
s6=s1.symmetric_difference(s2)
print(s1.isdisjoint(s2))
print(s1.issubset(s3))
print(s3.issuperset(s1))
s3,s4,s5,s6

False
True
True

({1, 2, 3, 4, 6, 7}, {1, 2}, {3, 4}, {3, 4, 6, 7})

In [88]:
#frozen set is a set which cant be changed i.e. it is immutable
#we cant add or delete or update elements in this
s={1,2,3}
f=frozenset(s)
type(f)

frozenset

In [8]:
s1={1,2,3,4}
s2={3,4,5,6}
s1&s2,s1|s2,s1^s2

({3, 4}, {1, 2, 3, 4, 5, 6}, {1, 2, 5, 6})

### Dictionary

- Dictionary are key-value pairs
- It is ordered ,changeable 
- keys cant be duplicates but values can be

In [544]:
d={"name":"akshay","age":24,"gender":"male","score":[100,99,100]}
type(d)

dict

In [487]:
len(d)

3

In [488]:
#keys cant be duplicates but values can have
{1:0,2:0,1:0}

{1: 0, 2: 0}

In [501]:
#dict constructor
dict({1:2}),dict(name=0,age=0)

({1: 2}, {'name': 0, 'age': 0})

In [541]:
#creating dictionary from list of keys and its values are 0.default is None
di={}
di.fromkeys([1,2,3],0)

{1: 0, 2: 0, 3: 0}

In [112]:
#no need to define like before
dict.fromkeys([1,2,3])

{1: None, 2: None, 3: None}

In [549]:
#accessing elements
#in get method u can specify value. if key doesnt exist in d then that value will be returned but while directly accessing it gives error
d["name"],d["age"],d.get("gender"),d.get("college","not specified")

('akshay', 24, 'male', 'not specified')

In [516]:
#looping dictionary
for i in d.keys():
    print(i,end="\t")
print("\n")
for i in d.values():
    print(i,end="\t")
print("\n-----")
for i,j in d.items():
    print(i,":",j)

name	age	gender	score

akshay	24	male	[100, 99, 100]
-----
name : akshay
age : 24
gender : male
score : [100, 99, 100]

In [517]:
#copying dictionary
d1=d.copy()
d1

{'name': 'akshay', 'age': 24, 'gender': 'male', 'score': [100, 99, 100]}

In [525]:
#adding elements into a dictionary:directly or using update method
d["salary"]='25lac'
d.update({"place":"kpur"})
d

{'name': 'akshay',
 'age': 24,
 'gender': 'male',
 'score': [100, 99, 100],
 'salary': '25lac',
 'place': 'kpur'}

In [526]:
#removing elements from dictionary:del or pop
d.pop("salary")
del d["place"]
d

{'name': 'akshay', 'age': 24, 'gender': 'male', 'score': [100, 99, 100]}

In [528]:
#delete dictionary or clearing its elements: del and clear
d.clear()
#del d

{}

In [555]:
#dictionary comprehension
d={i:i**2 for i in range(1,10) if i%2==0}
d

{2: 4, 4: 16, 6: 36, 8: 64}

In [13]:
d={i:i**2 if i%2==0 else 0 for i in range(1,10) }
d

{1: 0, 2: 4, 3: 0, 4: 16, 5: 0, 6: 36, 7: 0, 8: 64, 9: 0}

In [557]:
#dictionary from two lists using zip function
l1=[1,2,3]
l2=["a","b","c"]
d=dict(zip(l1,l2))
d

{1: 'a', 2: 'b', 3: 'c'}

In [113]:
#removing duplicates from a list
l=[1,1,1,2,2,4,3]
list(dict.fromkeys(l))

[1, 2, 4, 3]

In [23]:
#combining two dictionary
d1={1:10,2:20}
d2={3:30,4:40,1:50}
d1|d2

{1: 50, 2: 20, 3: 30, 4: 40}

In [5]:
{**d1,**d2}

{1: 50, 2: 20, 3: 30, 4: 40}

In [14]:
#sorting dictionary based on value
d={1:50,2:20,3:30,4:40,5:12}
dict(sorted(d.items(),key=lambda x:x[1],reverse=True))

{1: 50, 4: 40, 3: 30, 2: 20, 5: 12}

In [1]:
#sorting dictionary by keys
d={1:"a",2:"vv",8:"ewe",6:"SD",3:"ouo"}
dict(sorted(d.items(),key=lambda x:x[0]))

{1: 'a', 2: 'vv', 3: 'ouo', 6: 'SD', 8: 'ewe'}

In [19]:
#Insert key with a value of default if key is not in the dictionary
d={9:3,8:1}
for i in [1,2,3,4,5]:
    d.setdefault(i,0)
    
d

{9: 3, 8: 1, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0}

In [23]:
#comparing all data types

#normal numbers
print("number")
n=1
print(id(n))
n=n+1
print(id(n))
print("-"*20)

#strings
print("strings")
s="akshay"
print(id(s))
s=s.replace("a","s")
print(id(s))
print("-"*20)

#tuples
print("tuples")
t=(1,2,3)
print(id(t))
t=t+(4,5)
print(id(t))
print("-"*20)

#lists
print("lists")
t=[1,2,3]
print(id(t))
t.append(4)
print(id(t))
print("-"*20)

#sets
print("sets")
t={1,2,3}
print(id(t))
t.add(4)
print(id(t))
print("-"*20)

#dictionary
print("dictionary")
t={1:"a",2:"b",3:"c"}
print(id(t))
t[3]="cc"
print(id(t))
print("-"*20)

number
2188445444400
2188445444432
--------------------
strings
2188563126704
2188568697584
--------------------
tuples
2188567303488
2188571813744
--------------------
lists
2188567013248
2188567013248
--------------------
sets
2188575287104
2188575287104
--------------------
dictionary
2188568684864
2188568684864
--------------------

In [ ]:
#we can clearly see lists/sets/dictionary are mutables aswell as objects which we will discuss later

 ### loops and condition statements

In [552]:
#if-else conditions:
#all loops and conditional statements in python relies on indentation
a=2
b=3
if a==2 and b==3:
    print("hai")
elif a==3 and b==1:
    print("bye")
else:
    pass

hai

In [560]:
#for loops
for i in [1,2,4]:
    print(i)
print("---")
for i in range(0,10,2):
    print(i)

1
2
4
---
0
2
4
6
8

In [561]:
#break and continue statements
for i in range(5):
    print(i)
    if i==3:
        break

0
1
2
3

In [563]:
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [566]:
#while loop
i=0
while i<5:
    print(i)
    i=i+1

0
1
2
3
4

In [8]:
#else statement in for loop:
#if loop is stopped by break then else statement doesnt run. 
#if loop executes fully then finally it runs
for i in [1,2,3]:
    print(i)
    if i==2:
        break
else:
    print("hai")

1
2

In [7]:
#if we not using else,last statement will definetely run
for i in [1,2,3]:
    print(i)
    if i==2:
        break
print("hai")

1
2
hai

### Functions

In [ ]:
#functions are block of code which runs when we call it.
#it can take arguements and be dynamic
#it uses return statement to return the results
#advantages of using functions are :code reusability,modularity(writing code as small segments),code maintainance easy,less code

In [573]:
#function creation
def fun(n,m):
    return n*m

In [574]:
#calling the defined function
a=fun(5,3)
b=fun(10,6)
a,b

(15, 60)

In [ ]:
#in this above example: n,m are parameters . 5,3 are arguements (for first function call)

In [23]:
#arbitary arguements:also known as variable length arguement
#we can add as many arguements into function separated by commas
#if we dont know how many arguements is to be passed to function then u can *args i.e. arbitary arguements
#if u pass list then while passing put *before that
def add(*n):
    sum=0
    for i in n:
        sum=sum+i
    return sum
add(2,3,4),add(*[1,5])

(9, 6)

In [578]:
#keyword arguements:dont need to worry about order of arguements
#it is a way of passing arguments to a function by explicitly specifying the parameter name followed by a value.
def fun(n1,n2):
    return n1**n2
fun(n1=2,n2=3)

8

In [24]:
#arbitary keyword arguements:if we dont know how many keyword arguements to send, then use **args
#this basically sends dictionary so we need to get values as d["key"]
#an arbitrary keyword argument is a way of passing an arbitrary number of keyword arguments to a function.
def fun(**d):
    print(d)
    return d['n1']**d['n2']
fun(n1=2,n2=3)

{'n1': 2, 'n2': 3}

8

In [582]:
#default arguement:if no arguement is passed then n will be 1
#and if we have multiple arguements then default arguement should be written at last
def fun(n=1):
    return n*n
fun(2),fun(4),fun()

(4, 16, 1)

In [583]:
#global variables:variable which is defined outside the function and it can be used inside as well as outside the function
#local variables:these are defined inside the function and it is valid only within function
n=1
def fun():
    print(n)
fun()

1

In [586]:
#here i cant access k outside the function,it gives me error
def fun():
    k=1
fun()

In [588]:
#here we can see that global variable y is still 1 because if we try to change the value of it inside function 
#it will be treated as a local variable there
y=1
def fun():
    y=2
fun()
print(y)

1

In [589]:
#to update its value u can use global keyword
y=1
def fun():
    global y
    y=2
fun()
print(y)

2

- recursion

In [1]:
#recurssion:calling a function within itself 
def fact(n):
    if n<=1:
        return 1
    else:
        return n*fact(n-1)
fact(5)

120

- lambda function

In [7]:
#lambda functions:they are anonymous functions. that means lambda functions doesnt have a name
#this can take any number of arguements but has only one expressioon
a=lambda x:x+1
a(5)

6

In [8]:
a=lambda x,y:x+y
a(5,6)

11

- nested function and closure

In [80]:
#function within another function is called as nested function

In [84]:
#closure:
#We can say that closure is a function object that remembers the values present in the enclosed scope
#here we can see that variables or parameters of outer functions are accessible to inner function
def outer(text):
    print("i am outer function")
    def inner():
        print(text)
    return inner()
outer("hello")

i am outer function
hello

In [85]:
#passing a function as a parameter
def outer(func):
    print("i am outer function")
    def inner():
        print(func([1,2,3,4]))
    return inner()
outer(len)

i am outer function
4

- decorator

In [ ]:
#Decorators are a very powerful and useful tool in Python 
#since it allows programmers to modify the behaviour of a function or class. 
#Decorators allow us to wrap another function in order to 
#extend the behaviour of the wrapped function, without permanently modifying it

In [90]:
def fun():
    print("i am an user defined function")

In [97]:
#passing user defined function as a parameter
def outer(fun):
    def inner():
        fun()
    return inner()

In [94]:
outer(fun)

i am an user defined function

In [98]:
#now doing the same thing with decorator
@outer
def fun():
    print("demo of decorator")

demo of decorator

In [ ]:
#so this is equivalent of:fun=outer(fun) . (there are difference though)
#@decorator above a function implies that decorator takes the below function as an arguement

In [ ]:
#Using the decorator syntax is more concise because it combines the
#function definition and the decorator application into a single step. This can make the code easier to read and understand,
#especially when you are working with more complex functions and decorators.

In [101]:
#another example of decorator
def make_pretty(func):

    def inner():
        print("I got decorated")
        func()
    return inner

@make_pretty
def ordinary():
    print("I am ordinary") 
ordinary()

I got decorated
I am ordinary

In [ ]:
#this decorators are used widely  like in django/flask routers,apis and in time evaluation etc

### Python builtin functions

- Mathematical functions

In [3]:
#absolute value of a number
abs(-3)

3

In [6]:
#round off a number to certain decimal digits
round(3.145,2)

3.15

In [23]:
#power of a number
pow(2,4)

16

In [72]:
#divmod gives quotient and remainder 
divmod(8,4)

(2, 0)

In [34]:
#sum of an iterable
#sum(iterable,start=0)
#start means sum starts from that number.if i give start as 100 then every number in iterable will add to 100
l=[10,20,30,40,50,60,70]
p=(1,2,4)
d={"a":10,"b":20,"c":30}
sum(l),sum(l,200),sum(p),sum(d.values())

(280, 480, 7, 60)

In [15]:
a=[1,2,3]
sum(i for i in a)

6

In [16]:
(i for i in a)

In [17]:
tuple(i for i in a),set(i for i in a)

((1, 2, 3), {1, 2, 3})

In [37]:
#maximum  and minimum
#max(iterable,key=func)
l=[1,2,3]
max(l),min(l)

(3, 1)

In [48]:
l=[1,1,2,2,2,3]

In [49]:
#most occuring one element in list:this doesnt work if it has more than one large element
max(l,key=l.count)

2

In [50]:
#highest cost among products
l=[('bag',1000),('pen',10),('book',30)]
max(l,key=lambda x:x[1])

('bag', 1000)

In [56]:
#in dictionary
d={"a":100,"b":200,"c":40,"d":30}
max(d.values())

200

- Zip Function

In [27]:
#zip function:
#zip functions returns iterator of tuples
#elements of tuple are  from respective iterators given for zip function which are paired together according to their order
#we can pass any number of iterables for zip function but it gives us only one iterator of tuples
 
l=[1,2,3]
p=[4,5,6]
q=[7,8,9]
for i,j,m in zip(l,p,q):
    print(i,j,m)

1 4 7
2 5 8
3 6 9

In [30]:
list(zip(l,p,q))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [12]:
#if length of iterators passed to zip are different then iterator with minimum length decides the length of final output
#here one of the iterators length is 1 ,so final output will have only one tuple
l=[1,2,3]
p=[4,5,6]
q=[7]
for i,j,m in zip(l,p,q):
    print(i,j,m)

1 4 7

- print function and input function

In [15]:
#it is used to print a msg/result on to screen
print("hello")
print("hello",end="\t")
print("hello")

hello
hello	hello

In [19]:
#input function is used to take user defined input 
#it takes input in string format. so if we want to take interger as an input then use int()
n=input("enter a number:")
m=int(input("number"))
type(n),type(m)

enter a number:5
number4

(str, int)

In [21]:
#taking user inputs for a list
l=[int(i) for i in input().split(" ")]
l

1 6 9 6 2

[1, 6, 9, 6, 2]

- enumerate,all,any

In [ ]:
#enumerate function:add a counter as a key to iterable elements

In [58]:
l=["a","c","d","f"]
list(enumerate(l))

[(0, 'a'), (1, 'c'), (2, 'd'), (3, 'f')]

In [70]:
#all:returns true of all elements in iterable are True
#any:returns True if atleast one item is True
all ([1,2,3]),all([0,1]),any([1,0,0]),any([20<10,30<20])

(True, False, True, False)

- filter and map functions

In [79]:
#filter function:it takes a function and iterable and it return only True elements
#The filter function returns an iterator where the items are filtered through function to test if item is accepted or not.
# we need to convert map and filter objects to list for readability purpose
l=[1,2,3,4,5,6,7,8]
l1=list(filter(lambda x:x%2==0,l))
l1

[2, 4, 6, 8]

In [81]:
#selecting only lower case letters from
l=["a","A","W","v"]
list(filter(lambda x:x.islower(),l))

['a', 'v']

In [82]:
#map functions also takes a function and an iterable
#The map() function executes a specified function for each item in an iterable. 
#The item is sent to the function as a parameter.

In [84]:
l=[1,2,3]
list(map(lambda x:x*2,l))

[2, 4, 6]

In [85]:
#doing this using user defined function instead of lambda function
def fun(x):
    return x*2
list(map(fun,l))

[2, 4, 6]

In [86]:
#length of strings in list
l=["akshay","asd","afdfv","rfjnfvk"]
list(map(lambda x:len(x),l))

[6, 3, 5, 7]

In [2]:
l=[1,2,3,4,5]
list(map(lambda x:1 if x>3 else x,l))

[1, 2, 3, 1, 1]

- some other functions

In [91]:
#reversed:
l=[1,5,2,6,3]
list(reversed(l))

[3, 6, 2, 5, 1]

In [98]:
#slice:
t=(1,2,3,4)
x=slice(2)
t[x]

(1, 2)

In [104]:
#iter:
#The iter() function returns an iterator object.
#next() function is used to get next item in iterator
l=iter([1,2,3])
next(l),next(l),next(l)

(1, 2, 3)

In [ ]:
#iterable is an object which we can iterate over
#but for that it needs to be converted into iterator as the intermediate process
#for example in python when we loop though the string which is an iterable ,
#for loop converts that to iterator behind the scene
#iter() function can be used to convert iterable to iterator
#an iterator is an object that is used to iterate over iterable using next 
#every iterator is an iterable but not vice versa
#next function is used to go to next element

In [106]:
#eval function:this functions evaluated python functions written in string
eval("5+10")

15

In [110]:
eval('x*y',{'x':10,'y':20})

200

In [ ]:
# Iterator in Python is an object that is used to iterate over iterable objects like lists, tuples, dicts, and sets

### Exception handling

In [ ]:
#types of error:
#compile time error-syntax error or even indentation error
#run time error-
#logical error

In [ ]:
#exception is a  run time error

In [ ]:
#it can be standard error or even warnings
#ex:import error,index error,type error,name error etc
#ex :for exceptions:depreceation,import warning etc

In [ ]:
#exception occurs when there is some problem occurs during execution of code 
#it may be syntactically correct but due to other reasons like index error,zero division error etc program execution may stop
#we can handle execption in python using try and except block

- try block lets us test a block of code for errors
- except block handles that exception 
- finally block runs or executes the code in it regardless of the result of try-except blocks

In [106]:
try:
    print(aa)
except:
    print("above statement gave exception because aa is not defined")
finally:
    print("i run regardless of the result")

above statement gave exception because aa is not defined
i run regardless of the result

In [107]:
#different except blocks for different kinds of exception also can be defined rather than a single one
try:
    print(aa)
except NameError:
    print("Please define the variable")
except ZeroDivisionError:
    print("Yuo cant divide by 0")

Please define the variable

In [108]:
#raise exception:raise keyword
#raise keyword is used to raise an exeption by a programmer as user defined
a=-1
if a<0:
    raise Exception(" insert value greater than or equal to 0")

Exception:  insert value greater than or equal to 0

# OOP

In [3]:
#class is a blueprint of how an object will behave
#class contains properties/attributes and methods. methods are functions that are written inside the class
#object is an instance of a class

In [ ]:
#list is a class
#l is an object of the list class
l=list()
#since these are inbuilt class ,python provides us easy method for defining objects rather than using this
#that is called 'object literal'.so we use below way but both are same and internally it uses above method itself
l=[1,2,3]

In [2]:
#len(l) :here len is a function
#l.append() : here append is a method of class list
#this means len() function can be used by anyone
#but append() can be used by only objects of the list class

In [6]:
#init method is a constructor,which runs whenever an object of that class is defined
#in this we write those code which are not called by users and this will handle background or configuration tasks every time an object is created
class cl:
    def __init__(self):
        print("demo")

In [7]:
#obj is the object of the class
#tecnically speaking the cl() is the object and obj is the reference variable which just stores the address of the object
#but in general we name obj(which is the reference variable) as an object
obj=cl()

demo

In [ ]:
#we basically define attributes and call methods here .print("demo") was just an exmample
def __init__(self):
    self.pin=""
    self.balance=0
    self.menu()

In [8]:
#self means which object we are working on now
class cl:
    def __init__(self):
        print("address of self:",id(self))
obj=cl()
print("address of object obj:",id(obj))
#we can see here clearly that the object obj and the self are both same 
#we need to pass self for every methods in class 
#since one method cant access other methods in that class direclt we need to do that by using self
#that means, we can call the method by using object only  which is basically self

address of self: 1707717082224
address of object obj: 1707717082224

In [ ]:
## __init__ :these types of methods(with double underscores) are called magic methods/special methods.we cant create like these .
#these are predefined in python
#we dont manually call these methodsor these are triggered automatically

In [ ]:
#another example of magic method is __str__()
#this runs when ever we print the object

In [ ]:
#variables inside __init__ function are called instance variable because they are different for different objects

In [21]:
class atm:
    def __init__(self):
        self.pin=""
        self.balance=0
        self.menu()
    def menu(self):
        user_input=input("""
                    Hello,how would do you like to proceed?
                    1. Enter 1 to create a pin
                    2. Enter 2 to deposit
                    3. Enter 3 to withdraw
                    4. Enter 4 to check balance
                    5. Enter 5 to exit
        """)
        if user_input=="1":
            self.create_pin()
        elif user_input=="2":
            self.deposit()
        elif user_input=="3":
            self.withdraw()
        elif user_input=="4":
            self.check_balance()
        else:
            print("bye")
    def create_pin(self):
        self.pin=input("enter the pin")
        print("pin set successfully")
    def deposit(self):
        temp=input("enter your pin:")
        if temp==self.pin:
            amount=int(input("enter your amount:"))
            self.balance=self.balance+amount
            print("deposit successful")
        else:
            print("invalid pin")
    def withdraw(self):
        temp=input("enter your pin:")
        if temp==self.pin:
            amount=int(input("enter your amount to withdraw:"))
            if amount<self.balance:
                self.balance=self.balance-amount
                print("withdraw successful")
            else:
                print("insufficient funds")
        else:
            print("invalid pin")
    def check_balance(self):
        temp=input("enter your pin:")
        if temp==self.pin:
            print(self.balance)
        else:
            print("invalid pin")

In [87]:
sbi=atm()

                    Hello,how would do you like to proceed?
                    1. Enter 1 to create a pin
                    2. Enter 2 to deposit
                    3. Enter 3 to withdraw
                    4. Enter 4 to check balance
                    5. Enter 5 to exit
        1
enter the pin1234
pin set successfully

In [88]:
sbi.deposit()

enter your pin:1234
enter your amount:100
deposit successful

In [89]:
sbi.withdraw()

enter your pin:1234
enter your amount to withdraw:20
withdraw successful

In [90]:
sbi.check_balance()

enter your pin:1234
80

In [26]:
hdfc=atm()

                    Hello,how would do you like to proceed?
                    1. Enter 1 to create a pin
                    2. Enter 2 to deposit
                    3. Enter 3 to withdraw
                    4. Enter 4 to check balance
                    5. Enter 5 to exit
        1
enter the pin1234
pin set successfully

In [27]:
hdfc.check_balance()

enter your pin:1234
0

In [28]:
sbi.check_balance()

enter your pin:1234
80

#### making own data type : fraction

In [78]:
class Fraction:
    def __init__(self,num,din):
        self.n=num
        self.d=din
    def __str__(self):                     #this magic method runs when we print object.so we can decide how we print it
        return "{}/{}".format(self.n,self.d)
    def __add__(self,other):          #this runs when we try to add objects. so we can decide how to add them. f i directly try to add then it gives me error
        n1=(self.n*other.d)+(other.n*self.d)
        d1=self.d*other.d
        return "{}/{}".format(n1,d1)
    def __sub__(self,other):
        n1=(self.n*other.d)-(other.n*self.d)
        d1=self.d*other.d
        return "{}/{}".format(n1,d1)
    def __mul__(self,other):
        n1=self.n*other.n
        d1=self.d*other.d
        return "{}/{}".format(n1,d1) 
    def __truediv__(self,other):
        n1=self.n*other.d
        d1=self.d*other.n
        return "{}/{}".format(n1,d1)

In [79]:
f1=Fraction(3,4)
f2=Fraction(1,4)

In [76]:
print(f1,f2)

3/4 1/4

In [80]:
f1+f2,f1-f2,f1*f2,f1/f2

('16/16', '8/16', '3/16', '12/4')

### encapsulation

In [ ]:
#his prevents data modification accidentally by limiting access to variables and methods.

In [ ]:
#Encapsulation is the method of wrapping the data members and the methods into a single unit
#encapsulation is achieved through classes,objects,private,get,set
#this creates a blackbox where user need not worry about implemenation but can use the methods for his need
#

In [91]:
#from the class atm, we can access all instance variables and methods
sbi.check_balance()

enter your pin:1234
80

In [92]:
sbi.balance=100

In [93]:
sbi.check_balance()

enter your pin:1234
100

In [94]:
#we can see that anyone can modify the attribute of the class.
#but we cant keep it like this. we need to restrict it
#we can use double underscore before the attribute or the method to restrict them

In [97]:
#copying the above function and adding encapsulation on pin ,balance attributes and menu method
class atm:
    def __init__(self):
        self.__pin=""
        self.__balance=0
        self.__menu()
    def __menu(self):
        user_input=input("""
                    Hello,how would do you like to proceed?
                    1. Enter 1 to create a pin
                    2. Enter 2 to deposit
                    3. Enter 3 to withdraw
                    4. Enter 4 to check balance
                    5. Enter 5 to exit
        """)
        if user_input=="1":
            self.create_pin()
        elif user_input=="2":
            self.deposit()
        elif user_input=="3":
            self.withdraw()
        elif user_input=="4":
            self.check_balance()
        else:
            print("bye")
    def create_pin(self):
        self.__pin=input("enter the pin")
        print("pin set successfully")
    def deposit(self):
        temp=input("enter your pin:")
        if temp==self.__pin:
            amount=int(input("enter your amount:"))
            self.__balance=self.__balance+amount
            print("deposit successful")
        else:
            print("invalid pin")
    def withdraw(self):
        temp=input("enter your pin:")
        if temp==self.__pin:
            amount=int(input("enter your amount to withdraw:"))
            if amount<self.__balance:
                self.__balance=self.__balance-amount
                print("withdraw successful")
            else:
                print("insufficient funds")
        else:
            print("invalid pin")
    def check_balance(self):
        temp=input("enter your pin:")
        if temp==self.__pin:
            print(self.__balance)
        else:
            print("invalid pin")

In [109]:
sbi=atm()

                    Hello,how would do you like to proceed?
                    1. Enter 1 to create a pin
                    2. Enter 2 to deposit
                    3. Enter 3 to withdraw
                    4. Enter 4 to check balance
                    5. Enter 5 to exit
        1
enter the pin1234
pin set successfully

In [110]:
sbi.deposit()

enter your pin:1234
enter your amount:100
deposit successful

In [ ]:
#so here we can access only 4 methods and nothing else after restriction

In [111]:
#but the actual thing is nothing in python is actually private
#so still we can access that private attributes using this method:
sbi._atm__balance
#so this means we should understand that __ means they are private and we shouldnt go to change it as a programmer

100

In [112]:
#now lets add get and set methods for the attribute pin for now
#copying the above function 
class atm:
    def __init__(self):
        self.__pin=""
        self.__balance=0
        self.__menu()
    def get_pin(self):
        print(self.__pin)
    def set_pin(self,new_pin):
        if type(new_pin)==str:
            self.__pin=new_pin
            print("pin changed")
        else:
            print("not allowed")
    def __menu(self):
        user_input=input("""
                    Hello,how would do you like to proceed?
                    1. Enter 1 to create a pin
                    2. Enter 2 to deposit
                    3. Enter 3 to withdraw
                    4. Enter 4 to check balance
                    5. Enter 5 to exit
        """)
        if user_input=="1":
            self.create_pin()
        elif user_input=="2":
            self.deposit()
        elif user_input=="3":
            self.withdraw()
        elif user_input=="4":
            self.check_balance()
        else:
            print("bye")
    def create_pin(self):
        self.__pin=input("enter the pin")
        print("pin set successfully")
    def deposit(self):
        temp=input("enter your pin:")
        if temp==self.__pin:
            amount=int(input("enter your amount:"))
            self.__balance=self.__balance+amount
            print("deposit successful")
        else:
            print("invalid pin")
    def withdraw(self):
        temp=input("enter your pin:")
        if temp==self.__pin:
            amount=int(input("enter your amount to withdraw:"))
            if amount<self.__balance:
                self.__balance=self.__balance-amount
                print("withdraw successful")
            else:
                print("insufficient funds")
        else:
            print("invalid pin")
    def check_balance(self):
        temp=input("enter your pin:")
        if temp==self.__pin:
            print(self.__balance)
        else:
            print("invalid pin")

In [118]:
sbi=atm()

                    Hello,how would do you like to proceed?
                    1. Enter 1 to create a pin
                    2. Enter 2 to deposit
                    3. Enter 3 to withdraw
                    4. Enter 4 to check balance
                    5. Enter 5 to exit
        1
enter the pin1234
pin set successfully

In [119]:
sbi.set_pin("9090")

pin changed

In [120]:
sbi.get_pin()

9090

In [ ]:
#class objects are also mutable like lists 
#this means if i change attributes of object it is changed in same memory itself

In [ ]:
#lists/sets/dictionaries/objects all are mutable
#strings/tuples are immutable
#that means if u pass any mutable types into functions and update that it will be changed outer also 
#this is passing by reference ,we pass the reference of the object and any changes will be updated in memory itself

In [ ]:
#we can also use objects as iterable items i.e. collection of objects
#for i in [obj1,obj2,obj3]: like this

In [24]:
#instance variables :these variables are different for different objects ,means they are the properties of objects
#in atm we have pin and balance :these are different for sbi ,hdfc objects. so these are instance variables
#these are defined inside the constructor

#now lets discuss static/class variables:
#these have same values for all objects(these are shared variables)
#these are defined outside the constructor

class cl:
    counter=1                  #static or class variable
    def __init__(self,name):
        self.name=name
        self.id=cl.counter
        cl.counter+=1
obj1=cl("a")
obj2=cl("b")
obj3=cl("c")
obj1.id,obj2.id,obj3.id,cl.counter

(1, 2, 3, 4)

In [34]:
#static methods are those that deals with static variables,it doesnt require self to be passed if its not dealing with object
#lets see how to do this and also lets make class variable private and make set and get methods for accessing
class cl:
    __counter=1                  #static or class variable
    def __init__(self,name):
        self.name=name
        self.id=cl.__counter
        cl.__counter+=1
        
    @staticmethod
    def get_counter():
        return cl.__counter
    @staticmethod
    def set_counter(new):
        if type(new)==int:
            cl.__counter=new
        else:
            print("invalid")

In [36]:
obj=cl("a")
obj.set_counter(5)
obj.get_counter()

5

### Class Relationships:aggregation and inheritance

In [ ]:
#aggregation means classes have [has-a] relationship
#ex:Customer class and Address class:customer has a address
#i can create a object of the address class and pass it to customer in address field
#adr=Address("kpur","576219")
#cust=Customer("akshay",adr)
#if i have change_adress method in Address:
#i can call it in Customer by self.adr.change_adress()

In [ ]:
#inheritance means classes have [is-a] relationship
#ex:products and mobile classes:mobile is a product
#this provides code reusability
#data members,methods,constructors can be inherited by child class
#private members are not inherited

In [54]:
class products:
    def __init__(self,pid):
        self.pid=pid
    def hello(self):
        print("hello hai")
    def __pr(self):
        print("u cant access me")
    def buy(self):
        print("i will be printed if no method overriding")
class mobile(products):                #mobile is a child class of products
    def bye(self):
        print(self.pid)               #calling parent data members inside the child class
        print("tata")
    def buy(self):                     #method overriding
        print("i am overriding the parent method")
obj=mobile(10)

In [55]:
#here we can see that i can access data members ,constructors,methods from parent class using object of child
#we cant access pr method since that is private
obj.hello(),obj.bye()
print(obj.pid)

hello hai
10
tata
10

In [53]:
#if child class has method of same name ,if i call that method on the object of the child class, then its method will
#only run obviously.this is called method over riding
#where parents method was over ridden by the child class
#even if child has its own constructor,it will be called and not the constructor of parent
obj.buy()

i am overriding the parent method

#### super keywork

In [56]:
#super() is used to call methods and constructors of parent in child class
#we cant call data members using this

#basically used when both classes have same method names and u want to call parent method in the method of the child with same name
#and also for calling parent constructors inside child constructor

In [57]:
class parent:
    def __init__(self,pid):
        self.pid=pid
    def hello(self):
        print("hello from parent")
class child(parent):
    def __init__(self,pid):
        super().__init__(pid)           #calling parent constructor for initialization
    def hello(self):
        super().hello()                   #using super().hello() calls hello of parent class .
        print("hello from child")
c=child(10)

In [59]:
c.hello()

hello from parent
hello from child

In [60]:
c.pid

10

In [61]:
#here we can see method names are different . so we can directly call the parent method using self keyword
#but in above we had same name. so we need to use super()
class parent:
    def hello(self):
        print("hello from parent")
class child(parent):         
    def h(self):
        self.hello()                   
        print("hello from child")
c=child(10)

In [62]:
c.h()

hello from parent
hello from child

types of inheritance:
- single level : parent-->child
- multi level : grandparent-->parent-->child 
- multiple inheritance :   father,mother-->child
- hierarchical inheritance   :parent-->child1,child2

In [ ]:
#we can write multiple inheritance i.e a class is inherited from more than one class as:

#class child(dad,mom):

#first preference for the class that is provide first i.e. dad in this case
#that means if i am trying to call method which is present in both dad and mom,dad's method is called bcz it has high priority
#same with constructors also(dad's constructor has high priority)

### Polymorphism

In [63]:
#polymorphism means having many forms or ability of entities(methods,operators) to take many forms

In [76]:
#there can be types of polymorphism

#1. method overriding:child method  over rides the parent method having same name when called by object of the child

#2.operator overloading:an operator behaves differently at different instances
#for ex: + operator adds if two numbers are given.
#but it concatinates in case of  strings
#2+3,"a"+"b". here + if behaving differently in these two cases
#and we also saw while making fraction class how to use magic methods for doing this
#this is basically operator overloading

#3.method overloading:this means method having many forms
#that means based on number of arguements given to that method, method behaves differently
#if i provide one parameter r to AREA method, it calculates area of circle
#but if i pass two parameters l and b, it calculates area of rectangle
#so here method behaves differently based on no of arguements
#in python u cant achieve this using two methods with same name but with different arguements.it wont work
#that means tecnically method overloading doesnt exists in python:bcz 2nd method will overrides the first method
#but we can do this like this:
class mycl:
    def area(self,n,m=0):
        if m==0:
            print("area of circle:",3.14*n*n)
        else:
            print("area of rectangle:",n*m)

In [77]:
a=mycl()

In [78]:
a.area(2,3)

area of rectangle: 6

In [79]:
a.area(2)

area of circle: 12.56

### Abstraction

In [ ]:
#abstraction means hiding implementation details and showing necessary information to user
#we can achieve abstraction using
#1.encapsulation
#2. inheritance
#3.abstract class

In [ ]:
#abstraction through abstract classes and interfaces, achieves abstraction by providing a way to define a contract or a set
#of guidelines for a class to follow without providing an implementation for certain methods.
#This allows you to create a blueprint for a class, without committing to a specific implementation.

In [ ]:
#For example, you can define an abstract class Shape with an abstract method calculate_area(). 
#Any class that wants to be a Shape must implement this method, but the implementation can be different for each class, 
#Rectangle might use width and height to calculate the area while Circle might use radius.

In [ ]:
#in python there is no direct abstract class/methods
#so we need to import the abc module
#an abstract class is a class that contain a abstract method
#we cant have objects of abstract class
#An abstract class is a class that cannot be instantiated, but can be subclassed
#abstract method is a method which has no implementation
#child classes of abstract classes need to have implemenation of those methods which are abstract in parent

# Deep copy vs shallow copy

In [1]:
l=[1,2,3,4]
l2=l.copy()
l,l2

([1, 2, 3, 4], [1, 2, 3, 4])

In [3]:
l2.append(5)
l2,l

([1, 2, 3, 4, 5, 5], [1, 2, 3, 4])

In [26]:
#shallow copy
l=[[1,2],[3,4]]
l2=l.copy()
l2

[[1, 2], [3, 4]]

In [27]:
l2[0][0]=99

In [28]:
l2

[[99, 2], [3, 4]]

In [29]:
l

[[99, 2], [3, 4]]

In [ ]:
#here we can see original also got changed even though we have used copy method
#this is called shallow copy

In [ ]:
#Therefore, a shallow copy is suitable only when we dont have to deal with compound objects.

In [ ]:
#Deep copy:

In [ ]:
#but A deep copy will take a copy of the original object and will
#then recursively take copy of the inner objects which are found (if any).

In [32]:
#deep copy
import copy
a = [[1, 2, 3], [4, 5, 6]]
b = copy.deepcopy(a)

In [33]:
b

[[1, 2, 3], [4, 5, 6]]

In [34]:
b[0][0]=99

In [35]:
b

[[99, 2, 3], [4, 5, 6]]

In [36]:
a

[[1, 2, 3], [4, 5, 6]]

In [ ]:
#here we can see that the original list is not changed since we have used deep copy

In [ ]:
#a shallow copy will create a new object out of the original however 
#if the object contains other objects then the inner objects wont be copied but instead,
#the same reference will be used as the ones of the original structure. 
#On the other hand, a deep copy will create a new object even for the inner objects contained in a compound object.

### File handling

In [35]:
#we have read r, write w , append a, write and read , create x

In [36]:
#creating a file and writing to it
f=open("myfile.txt","w")           
f.write("hello how are you")
f.close()

In [37]:
#this type of syntax is not preferred since we need to close the file everytime we open them.
#so we prefer the below syntax

In [38]:
with open("myfile.txt","w") as f:
    f.write("hello how are you ")

In [39]:
#if the file already exists then "w" i.e. write method overwrites that. 
#if you want to add something new to that file use append "a"

In [40]:
with open("myfile.txt","a") as f:
    f.write("cool")

In [44]:
#creating a new file :if file exists then it give error else it creates the file
with open("myfile.txt","x") as f:
    f.write("hai")

FileExistsError: [Errno 17] File exists: 'myfile.txt'

In [41]:
#to read a file with read mode
with open("myfile.txt","r") as f:
    file=f.read()

In [42]:
file

'hello how are you cool'

In [43]:
#to read only some 
with open("myfile.txt","r") as f:
    file=f.read(10)
file

'hello how '

In [ ]:
#reading multi line files

In [52]:
with open("filename.txt", "w") as f:
    f.write("First line of text\n")
    f.write("Second line of text\n")
    f.write("Third line of text\n")

In [53]:
with open("filename.txt","r") as f:
    file=f.read()
file

'First line of text\nSecond line of text\nThird line of text\n'

In [54]:
with open("filename.txt","r") as f:
    file=f.readlines()
file

['First line of text\n', 'Second line of text\n', 'Third line of text\n']

In [62]:
with open("filename.txt","r") as f:
    for i in f:
        print(i,end="")

First line of text
Second line of text
Third line of text

In [59]:
with open("filename.txt","r") as f:
    print(f.readline())

First line of text

In [64]:
#to open a file to write and then read
with open("myfile.txt", "w+") as f:
    # Write to the file
    f.write("Hello, world!")

    # Move the file pointer back to the beginning of the file
    f.seek(0)

    # Read the contents of the file
    contents = f.read()

    # Print the contents to the console
    print(contents)

Hello, world!

### Generators in python

In [65]:
# A Simple Python program to demonstrate working of yield
# A generator function that yields 1 for the first time, 2 second time and 3 third time


def simpleGeneratorFun():
    yield 1
    yield 2
    yield 3


# Driver code to check above generator function
for value in simpleGeneratorFun():
    print(value)

1
2
3

In [71]:
# A Python program to generate squares from 1 to 100 using yield and therefore generator

# An infinite generator function that prints next square number. It starts with 1


def nextSquare():
    i = 1
    # An Infinite loop to generate squares
    while True:
        yield i*i
        i += 1 # Next execution resumes from this point


# Driver code to test above generator function
for num in nextSquare():
    if num > 100:
        break
    print(num)

1
4
9
16
25
36
49
64
81
100

In [73]:
def partial_sum(filename, chunk_size):
    with open(filename) as f:
        total = 0
        for line in f:
            # convert line to integer and add to total
            total += int(line.strip())
            if total > chunk_size:
                # if total exceeds chunk size, yield the partial sum
                yield total
                total = 0
        # yield final partial sum
        if total > 0:
            yield total

# compute sum of all numbers in file
filename = 'gen.txt'
chunk_size = 2
total_sum = 0
for partial in partial_sum(filename, chunk_size):
    total_sum += partial

print("Total sum:", total_sum)

Total sum: 82

In Python, yield is a keyword that is used to define a generator function.
A generator function is a special type of function that allows you to iterate over a sequence of values,
without having to generate the entire sequence upfront.
Instead, the values are generated on the fly, as they are needed.

When a generator function encounters a yield statement, 
it temporarily suspends its execution and returns the yielded value to the caller.
The state of the function is saved, so that when the function is called again, 
it resumes from where it left off, rather than starting over from the beginning.

A generator-function is defined like a normal function, but whenever it needs to generate a value, it does so with the yield keyword rather than return. If the body of a def contains yield, the function automatically becomes a generator function. 

Generator-Object : Generator functions return a generator object. Generator objects are used either by calling the next method on the generator object or using the generator object in a for in loop (as shown in the above program).

Generators and the yield keyword are helpful in situations where you need to
process a large amount of data or generate an infinite sequence of values,
but you don't want to store all of the data in memory at once. 
This can help to save memory and improve performance.

If you have a large dataset that you need to process, you can use a generator to read the data in chunks, process each chunk, and yield the results one at a time. This can help to avoid memory issues that might arise if you tried to read the entire dataset into memory at once.

In [ ]:
#a generator is a function that returns an iterator that produces a sequence of values when iterated over.
#Generators are useful when we want to produce a large sequence of values, 
#but we don't want to store all of them in memory at once.

In [26]:
#basically this also an iterator ,but we use yield keyword instead of iter().that means we can loop over generator
#it saves the local variable created at run time and therfore gives all values when we loop over it
#this helps in writing fast and compact code
def square(n):
    for i in range(n):
        yield n**2

In [28]:
#looping over generator
for i in square(3):
    print(i)

9
9
9

In [9]:
#generator function to get even numbers from 1 to 20
def gen():
    for i in range(21):
        if i%2==0:
            yield i
for i in gen():
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [10]:
gen2 = (i**2 for i in range(10)) # Generator expression
gen2

In [11]:
next(gen2)

0

In [1]:
pwd

'C:\\Users\\aksha\\Python_C3'

In [30]:
#this is a generator object
square(3)

In [34]:
l1=[]
l=[[1,2,3],[4,5,6]]
[l1.extend(i) for i in l]

[None, None]

In [35]:
l1

[1, 2, 3, 4, 5, 6]

In [36]:
#reduce function

In [38]:
from functools import reduce

In [39]:
l=[1,2,3,4,5]

In [40]:
reduce(lambda a,b:a+b,l)

15

In [42]:
reduce(lambda x,y:x+y+1,l)

19

In [45]:
reduce(lambda x,y:0,l)

0

In [ ]:
#to check current working directory

In [6]:
pwd

'C:\\Users\\aksha\\Python_C3'

In [10]:
#let us write a jsonl file
import json
with open("generator_jsonl.jsonl",mode="a") as f:
    l=[{"timestamp": "2025-05-13T10:00:00", "level": "INFO", "message": "System started", "user_id": 1},
{"timestamp": "2025-05-13T10:01:10", "level": "ERROR", "message": "Failed to load config", "user_id": 2},
{"timestamp": "2025-05-13T10:02:15", "level": "WARNING", "message": "Memory usage high", "user_id": 3},
{"timestamp": "2025-05-13T10:03:20", "level": "ERROR", "message": "Connection timeout", "user_id": 4},
{"timestamp": "2025-05-13T10:04:25", "level": "INFO", "message": "User login successful", "user_id": 5},
{"timestamp": "2025-05-13T10:05:30", "level": "ERROR", "message": "Disk write failed", "user_id": 6}]

    for i in l:
        f.write(json.dumps(i)+"\n")

In [27]:
#loading all at once
with open("generator_jsonl.jsonl","r") as file:
    l=[json.loads(line) for line in file]
    print(l)

[{'timestamp': '2025-05-13T10:00:00', 'level': 'INFO', 'message': 'System started', 'user_id': 1}, {'timestamp': '2025-05-13T10:01:10', 'level': 'ERROR', 'message': 'Failed to load config', 'user_id': 2}, {'timestamp': '2025-05-13T10:02:15', 'level': 'WARNING', 'message': 'Memory usage high', 'user_id': 3}, {'timestamp': '2025-05-13T10:03:20', 'level': 'ERROR', 'message': 'Connection timeout', 'user_id': 4}, {'timestamp': '2025-05-13T10:04:25', 'level': 'INFO', 'message': 'User login successful', 'user_id': 5}, {'timestamp': '2025-05-13T10:05:30', 'level': 'ERROR', 'message': 'Disk write failed', 'user_id': 6}]

In [21]:
#now we will see the use of generators
#imagine a big file like this, instead of loading all lines into memory, we can just use generator to load one by one,
#do processing and proceeed with next line .
def fun():
    with open("generator_jsonl.jsonl","r") as file:
        for line in file:
            yield json.loads(line)

In [25]:
for i in fun():
    print(i)

{'timestamp': '2025-05-13T10:00:00', 'level': 'INFO', 'message': 'System started', 'user_id': 1}
{'timestamp': '2025-05-13T10:01:10', 'level': 'ERROR', 'message': 'Failed to load config', 'user_id': 2}
{'timestamp': '2025-05-13T10:02:15', 'level': 'WARNING', 'message': 'Memory usage high', 'user_id': 3}
{'timestamp': '2025-05-13T10:03:20', 'level': 'ERROR', 'message': 'Connection timeout', 'user_id': 4}
{'timestamp': '2025-05-13T10:04:25', 'level': 'INFO', 'message': 'User login successful', 'user_id': 5}
{'timestamp': '2025-05-13T10:05:30', 'level': 'ERROR', 'message': 'Disk write failed', 'user_id': 6}